.button {
    -fx-background-color: transparent;
    -fx-text-fill: #336459;
}

.root {
    -fx-background-color: #2A363B;
    -fx-border-width: 1;
    -fx-border-color: #000000;
}

.hbox {
    -fx-background-color: #336459;
    -fx-border-width: 1;
    -fx-border-color: #000000;
}
